<h1 class="mb-4 text-center">New User</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @user, local: true, html: { class: "needs-validation" } do |form| %>
        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
           <%if @user.errors[:name].any? %>
          <div class="text-danger">name <%= @user.errors[:name].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, class: "form-control" %>
           <%if @user.errors[:email].any? %>
          <div class="text-danger">email <%= @user.errors[:email].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :phone_no, class: "form-label" %>
          <%= form.text_field :phone_no, class: "form-control" %>
           <%if @user.errors[:phone_no].any? %>
          <div class="text-danger">phone number <%= @user.errors[:phone_no].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :dob, "Date of Birth", class: "form-label" %>
          <%= form.date_field :dob, class: "form-control" %>
           <%if @user.errors[:dob].any? %>
          <div class="text-danger">DOB <%= @user.errors[:dob].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :age, class: "form-label" %>
          <%= form.number_field :age, min: 1, class: "form-control" %>
           <%if @user.errors[:age].any? %>
          <div class="text-danger">Age <%= @user.errors[:age].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :gender, class: "form-label d-block" %>
          <div class="form-check form-check-inline">
            <%= form.radio_button :gender, "male", id: "gender_male", class: "form-check-input" %>
            <%= form.label :gender, "Male", for: "gender_male", class: "form-check-label" %>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :gender, "female", id: "gender_female", class: "form-check-input" %>
            <%= form.label :gender, "Female", for: "gender_female", class: "form-check-label" %>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :gender, "other", id: "gender_other", class: "form-check-input" %>
            <%= form.label :gender, "Other", for: "gender_other", class: "form-check-label" %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :userable_type, "Role", class: "form-label" %>
          <%= form.select :userable_type, ['Doctor', 'Patient', 'Staff'], 
                          { prompt: 'Select your role' }, 
                          { class: "form-select" } %>
          <%if @user.errors[:userable_type].any? %>
          <div class="text-danger">Role <%= @user.errors[:userable_type].first %></div>
          <% end %>
        </div>

        <%= form.submit "Continue", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>
