<div class="form-style">
<%= form_with(model: @patient, local: true) do |f| %>
      <div id="patient-fields" class="role-block">
        <h4 class="mt-3 text-secondary fw-bold">Patient Details</h4>

        <div class="mb-3">
          <%= f.label :blood_group, "Blood Group", class: "form-label fw-semibold" %>
          <%= f.select :blood_group, ['A+','A-','B+','B-','AB+','AB-','O+','O-'],
                        { prompt: 'Select your blood group' },
                        { class: "form-select" } %>
        </div>

        <div class="mb-3">
          <%= f.label :address, class: "form-label fw-semibold" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
</div>
<style>
   .form-style{
      width: 50%;
      margin-left: 25%;
      box-shadow: 10px 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.1);
      padding: 4rem;

   }
</style>






