<h1 class="text-center mb-4">New Patient</h1>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @patient, url: patients_path(user_id: @user.id), local: true, html: { class: "needs-validation" } do |form| %>
      
        <div class="mb-3">
          <%= form.label :blood_group, "Blood Group", class: "form-label" %>
          <%= form.select :blood_group, ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], 
                          { prompt: 'Select your blood group' }, 
                          { class: "form-select" } %>
          <%if @patient.errors[:blood_group].any? %>
          <div class="text-danger"><%= @patient.errors[:blood_group].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :organ_donor, "Do you want to donate organs?", class: "form-label d-block" %>
          <div class="form-check form-check-inline">
            <%= form.radio_button :organ_donor, true, id: "organ_doner_yes", class: "form-check-input" %>
            <%= form.label :organ_donor, "Yes", for: "organ_doner_yes", class: "form-check-label" %>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :organ_donor, false, id: "organ_doner_no", class: "form-check-input" %>
            <%= form.label :organ_donor, "No", for: "organ_doner_no", class: "form-check-label" %>
          </div>

          <%if @patient.errors[:organ_donor].any? %>
          <div class="text-danger"><%= @patient.errors[:organ_donor].first %></div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form.label :address, class: "form-label" %>
          <%= form.text_field :address, class: "form-control" %>
           <%if @patient.errors[:address].any? %>
          <div class="text-danger"><%= @patient.errors[:address].first %></div>
          <% end %>
        </div>

        <%= form.submit "Create Account", class: "btn btn-primary w-100" %>

      <% end %>
    </div>
  </div>
</div>
